*,
*::before,
*::after {
  text-decoration: none;
}
/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #434455;
  background-color: #ffffff;
}
/* common styles */
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.section {
  padding-bottom: 120px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.solutions {
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto 48px;
}
.description {
  font-size: 16px;
}

/* header */
.main-header .container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}
.main-header {
  border-bottom: 1px solid #e7e9fc;
}
.navbar {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.logo {
  display: block;
  padding: 24px 0 24pxÐ†;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #4d5ae5;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
}
.logo span {
  color: #2e2f42;
}
.menu {
  display: flex;
  gap: 40px;
}
.menu-li {
  display: block;
  padding: 24px 0;
}
.menu a {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.32px;
  color: #2e2f42;
}

.menu a:hover {
  color: #404bbf;
}
.menu a:active,
.menu a:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.address-block {
  display: flex;
  gap: 40px;
}
.address-mail,
.address-phone {
  font-weight: 400;
  color: #434455;
  font-style: normal;
}
.address a:hover,
.address a:focus {
  color: #404bbf;
}

/* section 1*/
.hero {
  text-align: center;
  padding: 188px 0 188px;
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70))
, url(../images/hero/people-office.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.hero .container {
  flex-direction: column;
}
.hero .container > h1 {
  max-width: 496px;
}
.button {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
button:hover {
  background-color: #404bbf;
}
button:focus {
  background-color: #404bbf;
}

/* section 2 */
.our-values {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.our-values-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.our-values-list {
  width: calc((100% - 72px) / 4);
}
.main-page {
  font-size: 20px;
  color: #2e2f42;
  letter-spacing: 0.4px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;
}

/* section 3 */
.our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.title {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.our-team-description {
  display: flex;
  gap: 24px;
  width: 100%;
  text-align: center;
}
.our-team-list {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 24px * 3) / 4);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.our-team-list:last-child {
  margin-right: 0;
}
.member {
  padding: 32px 0;
}
.member-main-page {
  text-align: center;
  margin-bottom: 8px;
  color: #2e2f42;
  font-weight: 500;
}

/* section 4 */
.our-portfolio {
  padding: 120px 0 120px 0;
}
.our-portfolio-description {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.our-portfolio-list {
  width: calc ((100% - 48px)/3);
}
.our-portfolio-list:hover {
  box-shadow:  0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.app-description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* footer */
footer {
  padding: 100px 0;
  background-color: #2e2f42;
}

footer a {
  display: inline-block;
  color: #4d5ae5;
  text-transform: uppercase;
  letter-spacing: 0.54px;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.footer-descrioption {
  display: block;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.footer span {
  color: #f4f4fd;
}
